POSTHOG_CAPTURE_HOST=https://us.i.posthog.com
POSTHOG_APP_HOST=https://us.posthog.com
POSTHOG_PROJECT_ID=replace-with-project-id
POSTHOG_API_KEY=replace-with-project-api-key
POSTHOG_PERSONAL_API_KEY=replace-with-personal-api-key
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
